<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident,
      veritatis asperiores eius exercitationem necessitatibus eligendi quae
      deserunt recusandae, explicabo commodi animi maiores voluptate ab.
      Molestias sit at quaerat reprehenderit veniam!
    </p>
  </header>
  <div style="width: 30%; padding: 4rem">
    <div class="card">
      <header class="card__header card--primary">Card Title</header>
      <div class="card__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero at vitae
        eaque accusantium hic iusto! Voluptas nostrum a voluptatem excepturi ut,
        molestias temporibus cupiditate natus. Asperiores architecto vitae totam
        placeat.
      </div>
    </div>
  </div>
</section>
<section class="block block--dark block--skewed--left">
  <h2 class="block__heading">Heading</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo eligendi
    libero aspernatur enim corrupti minima, odio reiciendis maxime, cumque
    asperiores impedit eius eveniet, itaque cupiditate! Neque velit obcaecati
    suscipit aperiam.
  </p>
</section>
