<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h1 class="callout__heading">Ready To Start?</h1>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum nisi
        architecto labore animi possimus facilis illo incidunt quibusdam quidem,
        et voluptates. Culpa illo eos nam molestias suscipit repellat dolorum
        laborum.
      </p>
    </div>
    <a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
  </div>
</div>
