<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <svg class="icon icon--white collapsible__chevron">
      <use xlink:href="images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio vero vel
    distinctio, amet deleniti dolores ex! Tenetur, doloribus fuga obcaecati amet
    sed, aliquam, rerum asperiores molestias excepturi quis magni adipisci!
  </div>
</div>
<script src="js/main.js"></script>
